---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<SPACE-ID>/environments/<ENVIRONMENT>/entries?content_type=recipe&sys.id=wrong_recipe_id_1587465959
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.15.3; integration contentful_model/1.3.0; platform ruby/2.6.6;
        os macOS/19;
      Authorization:
      - Bearer <ACCESS-TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"10440568906820546102"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 4eed6661-5f5c-4911-906c-cbd82f837dcf
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Tue, 21 Apr 2020 10:46:00 GMT
[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<SPACE-ID>/environments/<ENVIRONMENT>/entries?content_type=recipe&sys.id=wrong_recipe_id_1587466383
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.15.3; integration contentful_model/1.3.0; platform ruby/2.6.6;
        os macOS/19;
      Authorization:
      - Bearer <ACCESS-TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"10440568906820546102"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - e1a4e565-2ded-4f61-97b8-f25617a920ff
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Tue, 21 Apr 2020 10:53:04 GMT
recorded_with: VCR 5.1.0
